<div class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light" style="border-radius: 2rem; border-width: 0px;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2">Create a new list</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="row">
                <%= simple_form_for @list do |f| %>
                  <%= f.text_field :name %>
                  <%= f.input :photo, as: :file %>
                  <%= f.submit %>
                <% end %>
              </div>

            <div>
              <p class="mb-0 mt-5">Don't want to create a new list? <a href="#!" class="fw-bold">Go back</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
