// Specific CSS for your home-page
i {
  font-size: 50px;
}

.banner {
  height: 350px;
  background-image: url(https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
  color: rgba(255, 255, 255, 0.9);
}
