<div class="border-bottom bg-white">
      <div class="container d-flex align-items-center justify-content-between py-2">
        <i class="fa-solid fa-clapperboard" style="color: #dddddd;">IMDB ripoff</i>
        <!-- turn this link into a button -->
        <a href="#" class="btn btn-primary">
          Login
        </a>
      </div>
    </div>
